body{

	background-color:#212121;
}


.dragItem {
			 	margin:20px;
			 	background-color: #E53935;
			 	border:2px solid black;
			 	float:left;
			 	width:100px;
			 	height:100px;
			 	text-align: center;
			 	cursor: move;
			 	font-size:60px;
			 	color: black;
			 	font-family: Roboto;
			 	box-shadow: 3px 3px 5px 3px black;   /* adds blurred shadow */
			 	


			}


/*Added border as requested*/
hr{
  				clear: left; /* takes care of  floated elements */
  				padding-top: 20px;
  				margin-bottom: 20px;
  				border: none;
  				border-bottom: 2px solid red;

			}



#tab{
				border: 1px solid black;
				border-collapse: collapse;
				width:20% ;
				clear:left;  /* takes care of  floated elements */
				float:left;
				margin: 20px 22px; /*Fixed margin overlap bug by using above two properties*/
				
				

			}

.thead{
				border: 1px solid black;
				padding: 15px;
				background-color: #4CAF50;
   				color: white;
   				font-family: Roboto;


			}


.tbody{
				background-color:white;
				border: 1px solid black;
				text-align:center;
				padding: 15px;
				font-family: Roboto;


			}
